<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load static %}
    {% load i18n%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
    JenGyy - {% block title %}Home{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/simplePagination.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap.min.css' %}" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
    {{ form.media }}
</head>    
<body>
    <div id="main">
        <!-- navbar -->
        <div id="header">
            <h1><a href="/crud">JenGyy</a></h1>
            <div class="nav">
                <ul>
                    <li><a href="/crud">Project</a></li>
                    <li><a href="/crud/developer/">Developer</a></li>
                    <li><a href="/admin/">Dashboard</a></li>
                    <li>
                        <form action="{% url 'project_search_list_view' %}" class="search-container" method="get" accept-charset="utf-8">
                            <input
                            id="search-box"
                            type="search"
                            class="search-box"
                            name="q"
                            />
                            <input type="submit" id="search-submit" />
                        </form>        

                    </li>
                    <li><i class="far fa-globe"></i></li>
                </ul>
            </div>
        </div>  
        {% block content %}
        {% endblock content %}        
    {% block script %}
    <script type="text/javascript" src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script> 
    <script src="https://kit.fontawesome.com/10053f200c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script> 
    <script type="text/javascript" src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script> 
    <script src="{% static 'lib/js/bootstrap.bundle.min.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    {% endblock script %}
</body>
</html>