{% extends 'crud/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div style="padding-top: 15%;transform: tranlate(-50%,-50%)" class="d-flex justify-content-center">
        <form method="post" class="form">{% csrf_token %}
            <h2>Are you sure you want to delete developer {{ object.first_name }} info ?</h2>
            <div class = 'delete'>
                <button class = create type="submit" name="Confirm" class="btn btn-success btn-labeled">{% trans 'Submit' %}<span class="btn-label btn-label-right">
                    <i class="fa fa-check"></i></span></button>
                <button class = create><a href="{% url 'developer_list' %}">{% trans 'Cancel' %}</a></button>
            </div> 
        </form>
    </div>  
{% endblock content %}