{% extends "crud/base.html" %}
{% load bootstrap_pagination %}
{% load i18n %}

{% block content %}
            <div id="content">
                <div class="table-title">
                    <h3>*</h3>
                    <h3>-</h3>
                </div>
                <div class="title">
                    <div class="left-column-90">
                        <h1>Developer</h1>
                        <button class="newProject">
                            <a href="/project-create/">{% trans 'New Project' %}</a>
                        </button>
                        <button class="newDev">
                            <a href="/developer-create/">{% trans 'New Developer' %}</a>
                        </button>
                    </div>
                </div>
                <!-- table --> 
                <table id="tableProject" class="display" data-page-length="10" data-order="[[ 1, &quot;asc&quot; ]]">
                    <thead>
                        <tr>
                            <th class="text-left">ID</th>
                            <th class="text-left">{% trans 'Last Name' %}</th>
                            <th class="text-left">{% trans 'First Name' %}</th>
                            <th class="text-left">{% trans 'Project' %}</th>
                            <th class="text-left">{% trans 'Program Language' %}</th>
                            <th class="text-left">{% trans 'Action' %}</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        
                        {% for object in object_list %}:
                        <tr>
                            <td class="text-left">{{object.developer_id}}</td>
                            <td class="text-left">{{object.last_name}}</td>
                            <td  class="text-left"><a href="/crud/project-update/{{object.developer_id}}">{{object.first_name}}</td>
                            <td class="text-left">{{object.project}}</td>
                            <td class="text-left">{{object.language}}</td>
                            <td class="text-left">
                                <div class="dropdown">
                                <button class="bt_dropdown">{% trans 'Choose action' %}</button>
                                <div class="nd_dropdown">
                                    <a href="/developer-update/{{object.developer_id}}">{% trans 'Update' %}</a>
                                    <a href="/developer-delete/{{object.developer_id}}">{% trans 'Remove' %}</a>
                                </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

            {% bootstrap_paginate page_obj %}
        </div>
    {% endblock content %}
