{% extends "crud/base.html" %}
{% block content %}
            <div id="content">
                <div class="table-title">
                    <h3>*</h3>
                    <h3>-</h3>
                </div>
                <div class="title">
                    <div class="left-column-90">
                        <h1>Developer</h1>
                        <button class="newProject">
                            <a href="/crud/project-create/">New Project</a>
                        </button>
                        <button class="newDev">
                            <a href="/crud/developer-create/">New Developer</a>
                        </button>
                    </div>
                </div>
                <!-- table --> 
                <table id="tableProject" class="display" data-page-length="10" data-order="[[ 1, &quot;asc&quot; ]]">
                    <thead>
                        <tr>
                            <th class="text-left">ID</th>
                            <th class="text-left">Last Name</th>
                            <th class="text-left">First Name</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">Program Language</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        
                        {% for object in object_list %}:
                        <tr>
                            <td class="text-left">{{object.developer_id}}</td>
                            <td class="text-left">{{object.last_name}}</td>
                            <td  class="text-left"><a href="/crud/project-update/{{object.developer_id}}">{{object.first_name}}</td>
                            <td class="text-left">{{object.project}}</td>
                            <td class="text-left">{{object.language}}</td>
                            <td class="text-left">
                                <div class="dropdown">
                                <button class="bt_dropdown">Choose action</button>
                                <div class="nd_dropdown">
                                    <a href="/crud/developer-update/{{object.developer_id}}">Update</a>
                                    <a href="/crud/developer-delete/{{object.developer_id}}">Remove</a>
                                </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

            <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endblock content %}
