{% extends 'crud/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-body">
            <form method="post" class="form">{% csrf_token %}
                <h2>Are you sure you want to delete project "{{ object.name }}" info ?</h2>
                <button class = create type="submit" name="Confirm" class="btn btn-success btn-labeled">Submit<span class="btn-label btn-label-right"><i
                    class="fa fa-check"></i></span></button>
                <button class = create><a href="/project_list"> Cancel</a></button>
            </form>
        </div>
    </div>
</div>  
{% endblock content %}