{% extends "crud/base.html" %}
{% load bootstrap_pagination %}
{% load i18n %}

{% block content %}        
            <div id="content">
                <div class="table-title">
                    <h3>*</h3>
                    <h3>-</h3>
                </div>
                <div class="title">
                    <div class="left-column-90">
                        <h1>Project</h1>
                        <button class="newProject">
                            <a href="/project-create/">{% trans 'New Project' %}</a>
                        </button>
                        <button class="newDev">
                            <a href="/developer-create/">{% trans 'New Developer' %}</a>
                        </button>
                    </div>
                    <div class="right-column-10">
                        <form action="{% url 'project_filter_list_view' %}" method="get">
                            <div class="large-6 columns">
                                <label for="start">{% trans 'Start Date' %}</label>
                                <input id="inputStartDate" type="date" name="d1" /><br/>
                            </div>
                            <div class="large-6 columns">
                                <label for="end">{% trans 'End Date' %}</label>
                                <input id="inputEndDate" type="date" name="d2" /><br />
                            </div>
                            <div class="large-12 columns">
                                <button class="button radius" id="filter">{% trans 'Filter' %}</button>
                                <button id="clearFilter" class="button radius secondary" onclick="location.reload();">
                                    {% trans 'Clear Filter' %}
                                </button>
                            </form>
                                <div class="dropdown">
                                    <button class="bt_dropdown">{% trans 'Currency' %}</button>
                                    <div class="nd_dropdown">
                                        <a href="#">USD</a>
                                        <a href="#">VND</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table --> 
                <table id="tableProject" class="display" data-page-length="10" data-order="[[ 1, &quot;asc&quot; ]]">
                    <thead>
                        <tr>
                            <th class="text-left">ID</th>
                            <th class="text-left">{% trans 'Project' %}</th>
                            <th class="text-left">{% trans 'Description' %}</th>
                            <th class="text-left">{% trans 'Start Date' %}</th>
                            <th class="text-left">{% trans 'End date' %}</th>
                            <th class="text-left">{% trans 'Cost' %}</th>
                            <th class="text-left">{% trans 'Developer' %}</th>
                            <th class="text-left">{% trans 'Action' %}</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        {% for object in object_list %}
                        <tr>
                            <td class="text-left">{{object.project_id}}</td>
                            <td id="name" class="text-left"><a href="/project-update/{{object.project_id}}">{{object.name}}</a></td>
                            <td class="text-left">{{object.description}}</td>
                            <td class="text-left">{{object.start_date | date:"d/m/Y"}}</td>
                            <td class="text-left">{{object.end_date | date:"d/m/Y"}}</td>
                            <td class="text-left">{{object.cost}}</td>
                            <td class="text-left"><a href=''>{{object.developers}}</a></td>
                            <td class="text-left">
                                <div class="dropdown">
                                <button class="bt_dropdown">{% trans 'Choose action' %}</button>
                                <div class="nd_dropdown">
                                    <a href="/project-update/{{object.project_id}}">{% trans 'Update' %}</a>
                                    <a href="/project-delete/{{object.project_id}}">{% trans 'Remove' %}</a>
                                </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% bootstrap_paginate page_obj %}
            
        </div>
{% endblock content %}
