{% extends "crud/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div id="content">
    <div class="table-title">
        <h3>Data Table</h3>
        <h3>-</h3>
    </div>
    <div class="title">
        <h1>{% trans 'Project' %}</h1>
    </div>
    <div class="fill">
        <form  method="post" class="was-validated">{% csrf_token %}
    {% for field in form %}
    <div class="form-group has-success">
        <label for="success" class="control-label">{{ field.label_tag }}</label>
        {{ field }}
        {% if field.help_text %}
        <span class="help-block">{{ field.help_text|safe }}</span>
        {% endif %}
        {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group has-success">
        <div class="">
            <button class = create type="submit" name="submit" class="btn btn-success btn-labeled">{% trans 'Submit' %}<span class="btn-label btn-label-right"><i
                        class="fa fa-check"></i></span></button>
            <button class = create><a href="/crud"> {% trans 'Cancel' %}</a></button>
        </div>
    </div>
</div>
</form>
{% endblock content %}
