{% extends "crud/base.html" %}

{% block content %}
            <div id="content">
                <div class="table-title">
                    <h3>*</h3>
                    <h3>-</h3>
                </div>
                <div class="title">
                    <div class="left-column-90">
                        <h1>Project</h1>
                        <button class="newProject">
                            <a href="/crud/project-create/">New Project</a>
                        </button>
                        <button class="newDev">
                            <a href="/crud/developer-create/">New Developer</a>
                        </button>
                    </div>
                    <div class="right-column-10">
                            <div class="large-6 columns">
                                <label for="start">Start Date</label>
                                <input id="inputStartDate" type="date" /><br/>
                            </div>
                            <div class="large-6 columns">
                                <label for="end">End Date</label>
                                <input id="inputEndDate" type="date" /><br />
                            </div>
                            <div class="large-12 columns">
                                <button class="button radius" id="filter" onclick="filterDay()">Filter</button>
                                <button id="clearFilter" class="button radius secondary" onclick="location.reload();">
                                    Clear Filter
                                </button>
                                <div class="dropdown">
                                    <button class="bt_dropdown">Currency</button>
                                    <div class="nd_dropdown">
                                        <a href="#">USD</a>
                                        <a href="#">VND</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- table --> 
                <table id="tableProject" class="display" data-page-length="10" data-order="[[ 1, &quot;asc&quot; ]]">
                    <thead>
                        <tr>
                            <th class="text-left">ID</th>
                            <th class="text-left">Project</th>
                            <th class="text-left">Description</th>
                            <th class="text-left">Start Date</th>
                            <th class="text-left">End date</th>
                            <th class="text-left">Cost</th>
                            <th class="text-left">Developer</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        {% for object in object_list %}
                        <tr>
                            <td class="text-left">{{object.project_id}}</td>
                            <td id="name" class="text-left"><a href="">{{object.name}}</a></td>
                            <td class="text-left">{{object.description}}</td>
                            <td class="text-left">{{object.start_date}}</td>
                            <td class="text-left">{{object.end_date}}</td>
                            <td class="text-left">{{object.cost}}</td>
                            <td class="text-left"><a href=''>{{object.developers}}</a></td>
                            <td class="text-left">
                                <div class="dropdown">
                                <button class="bt_dropdown">Dropdown</button>
                                <div class="nd_dropdown">
                                    <a href="project-update/<int:pk>">Update</a>
                                    <a href="/crud/">Remove</a>
                                </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}